<div *ngIf="vehicle">
    <h2>{{vehicle.name}} properties</h2>
    <table>
   	 <tr>
   		 <td><label>ID: </label></td>
   		 <td>{{vehicle.id}}</td>
   	 </tr>
   	 <tr>
   		 <td><label>Name: </label></td>
   		 <td><input [(ngModel)]="vehicle.name" placeholder="name" /></td>
   	 </tr>
   	 <tr>
   		 <td><label>Type: </label></td>
   		 <td><input [(ngModel)]="vehicle.type" placeholder="type" /></td>
   	 </tr>
   	 <tr>
   		 <td><label>Mass: </label></td>
   		 <td><input [(ngModel)]="vehicle.mass" placeholder="mass" /></td>
   	 </tr>
    </table>
</div>