//
// === PAGE-SECTION ===
//

//
// - Section -
//

section {
    padding: 80px 0;
}

//
// - Hero -
//

.hero-text-box {
    position: absolute;
    width: $main-max-width;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//
// - Features -
//

.section-features .long-copy {
    margin-bottom: 30px;
}

//
// - Meals -
//

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: $black;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}
