<md-icon role="img" class="material-icons" aria-label="apps">apps</md-icon>
<span class="display-1">Question</span><br/>
<div class="container">
  <app-question-details [question]="question"></app-question-details>
  <br/><br/>
  <div class="button-container">
	<button type="button" class="btn btn-raised btn-default" (click)="editQuestion(question.id)">Edit</button>
    <button type="button" class="btn btn-raised btn-default" (click)="returnToList()">Return to List</button>
  </div><br/><br/>
</div>