:host{
	display: block;
	width: 100%;
	height: 30%;
	background-color: #FAFAFA;
	overflow: hidden;
	overflow-y: scroll;
}

:host ul{
	padding: 0;
	padding-top: 4px;
	margin: 0;
}

:host li{
	width: 100%;
	list-style: none;
}

:host .saved-results-item-text{
	display:inline-block;
}

:host .saved-results-list{
	width: 100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

:host .saved-results-item{
	width: 100%;
	padding: 2px;
}

:host .saved-results-item-wrapper{
	padding: 5px 16px 8px 16px;
}

:host .saved-results-item-divider{
	width: 100%;
	height: 1px;
	background-color: #E0E0E0;
	display: block;
}

:host .saved-results-item-value{
	font-size: 28px;
	color: #212121;
}

:host .saved-results-item-equation{
	font-size: 12px;
	color: #757575;
}

:host .saved-results-item-delete{
	float: right;
	width: 49px;
	height: 49px;
	background-image: url('cancel.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 32px 32px;
	display:inline-block;
	cursor: pointer;
}