//
// === COLOR ===
//

//
// - Gray Colors -
//

$black:         #000;
$lighten-black:   lighten($black, 10%);
$white:         #fff;
$darken-white:    darken($white, 10%);

//
// - Text Colors -
//

$text-color-monochrome:   lighten($black, 33%);

//
// - Primary Colors -
//


//
// - Secondary Colors -
//

$secondary-color: #e67e22;
$darken-secondary-color: darken($secondary-color, 10%);

//
// - Shadow Colors -
//


//
// - Header and Nav Colors -
//


//
// - Button and Link Colors -
//


//
// - Breadcrumb Colors -
//


//
// - Form Colors -
//


//
// - Accordion Colors -
//


//
// - Alert Colors -
//


//
// - Other Colors -
//