
  <div class="container">
    <!-- main container -->
    <header>
      <!-- header container -->
      <nav>
        <div class="row">
          <img src="assets/images/logo-white.png" alt="logo" class="logo">
          <ul class="main-nav">
            <li><a href="#">Food delivery</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="#">Our cities</a></li>
            <li><a href="#">Sign up</a></li>
          </ul>
        </div>  
      </nav>
      <div class="hero-text-box">
        <h1>Goodbye junk food.<br>Hello super healthy meals.</h1>
        <a class="btn btn-full" href="#">I'm hungry</a><a class="btn btn-ghost" href="#">Show me more</a>
      </div>
    </header>
    <!-- eof header container -->
    <section>
      <div class="container">
        <!-- section container -->
      </div>
      <!-- eof section container -->
    </section>
    <footer>
      <!-- footer container -->

    </footer>
    <!-- eof footer container -->
  </div>
  <!-- eof main container -->
