<form novalidate>

	<div>
		<label>
			Title:
			<input type="text" [(ngModel)]="product.title" name="productTitle" required #productTitle="ngModel">
		</label>
		<span *ngIf="!productTitle.valid && (productTitle.touched || !!productTitle.id)">
			Please enter a Product title.
		</span>
	</div>

	<button type="button" (click)="saveProductButton(product)">Save</button>
	<button type="button" (click)="cancelProductButton(product)">Cancel</button>
	<button type="button" (click)="deleteProductButton(product)" *ngIf="!!product.id">Delete</button>

</form>